<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Student Details</title>
	</head>
	<body>
		<div class="container">
			<h1>Student Details</h1>
		
			<h3>Student roll :</h3>
			<p th:text = "${student.roll}"></p>
			<h3>Student name :</h3>
			<p th:text = "${student.name}"></p>
			<h3>Student branch :</h3>
			<p th:text = "${student.branch}"></p>
			<h3>Student yop :</h3>
			<p th:text = "${student.yop}"></p>
			<h3>Student cgpa :</h3>
			<p th:text = "${student.cgpa}"></p>
		</div>
	</body>
</html>